appdirs==1.4.3
BeautifulSoup==3.2.1
click==5.1
click-plugins==1.0.1
cligj==0.3.0
descartes==1.0.1
Fiona==1.6.1
geojson==1.3.0
geopandas==0.1.1
geopy==1.10.0
nose==1.3.7
numpy==1.12.1
packaging==16.8
pandas==0.20.1
prettyprint==0.1.5
pyparsing==2.2.0
pyproj==1.9.4
python-dateutil==2.6.0
pytz==2017.2
Shapely==1.5.12
six==1.10.0
Unidecode==0.4.18
